@import "src/assets/themes/default";

.topbar {
  background-color: var(--primary-bg-color);
  min-height: 60px;
}

.languageBar {
  margin: 12px 32px;

  button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    cursor: pointer;
    line-height: 100%;
    margin: 0 2px;
    padding: 8px 16px;

    &:hover {
      background-color: lightgoldenrodyellow;
    }

  }
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 32px;

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4px 8px;
  }
}
