.slide {
    .imgWrapper {
        img {
            max-width: 100%;
        }
    }

    .temperature {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &--value {
            font-size: 36px;
            line-height: 100%;
        }

        &--format {
            font-size: 14px;
            line-height: 100%;
            margin-left: .5em;
        }
    }
}
