@import "src/assets/themes/default";

footer {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-bg-font-color);
  font-size: .75em;

  a {
    color: var(--secondary-bg-font-color);
  }

  > div {
    padding: 24px 0;
  }
}
