<footer>
  <div class="copyright-self">
    <span>{{'copyright'|translate}} <fa-icon [icon]="copyrightIcon"></fa-icon> 2021</span>
    <span>{{'webAuthor'|translate}}</span>
    <span>{{'rightsReserved'|translate}}</span>
  </div>
  <div class="copyright-source-data">
    <span>
      {{'dataSource:'|translate}}
      <a href="https://data.gov.hk/" target="_blank" rel="noopener noreferrer">https://data.gov.hk/</a>
    </span>
    <span>
      <a href="https://github.com/JoeLeung32/govhkdata" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="githubIcon"></fa-icon></a>
    </span>
  </div>
</footer>
