// colors
$primary-bg-color: #fefefe;
$primary-bg-color-dark: #333;
$primary-bg-font-color: #111;
$primary-bg-font-color-dark: #efefef;
$secondary-bg-color: #fff;
$secondary-bg-color-dark: #282828;
$secondary-bg-font-color: #ccc;
$secondary-bg-font-color-dark: #999;
//$tertiary-bg-color:
$primary-btn-color: #eee;
$primary-btn-color-dark: #222;
$primary-btn-font-color: #000;
$primary-btn-font-color-dark: #fff;
$transparent-bg-color: rgba(255, 255, 255, .5);
$transparent-bg-color-dark: rgba(0, 0, 0, .25);

// font

// others
$topBarHeight: 60px;
$leftRightSpacing: 24px;

// code gen
$colors: (
        --primary-bg-color: ($primary-bg-color, $primary-bg-color-dark),
        --primary-bg-font-color: ($primary-bg-font-color, $primary-bg-font-color-dark),
        --primary-btn-color: ($primary-btn-color, $primary-btn-color-dark),
        --primary-btn-font-color: ($primary-btn-font-color, $primary-btn-font-color-dark),
        --secondary-bg-color: ($secondary-bg-color, $secondary-bg-color-dark),
        --secondary-bg-font-color: ($secondary-bg-font-color, $secondary-bg-font-color-dark),
        --transparent-bg-color: ($transparent-bg-color, $transparent-bg-color-dark),
);

// mixin

@mixin page-wrapper {
  min-height: calc(100vh - #{$topBarHeight});
}

@mixin box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

@mixin text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

// schema
::ng-deep body {
  &.light {
    @each $name, $color in $colors {
      #{$name}: nth($color, 1);
    }
  }

  &.dark {
    @each $name, $color in $colors {
      #{$name}: nth($color, 2);
    }
  }

  background-color: var(--primary-bg-color);
  color: var(--primary-bg-font-color);

  a {
    color: var(--primary-bg-font-color);
  }
}
