$primary-bg-color: #D9733E;
$primary-bg-color-dark: #005660;

$colors: (
        --primary-bg-color: ($primary-bg-color, $primary-bg-color-dark)
);

::ng-deep body {
  &.light {
    @each $name, $color in $colors {
      #{$name}: nth($color, 1);
    }
  }

  &.dark {
    @each $name, $color in $colors {
      #{$name}: nth($color, 2);
    }
  }
}
